<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jellybeans.css') }}">
</head>

<body>
  <div class="header">
    <img class="jelly-belly-logo"
      src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Jelly_Belly_Logo.svg/330px-Jelly_Belly_Logo.svg.png" />
    <h1>Jelly Belly Gallery</h1>
  </div>
  <div class="selectors">
    <form action="/" method="POST" id="beanform">
      <select class="bean-selector" name="bean-flavor">
        <option value="">Select a Group Name</option>
        <option value="7up">7Up</option>
        <option value="a&w-cream-soda">A&W Cream Soda</option>
        <option value="a&w-root-beer">A&W Root Beer</option>
        <option value="acai-berry">Acai Berry</option>
        <option value="apple-pie-a-la-cold-stone">Apple Pie A La Cold Stone</opttion>
        <option value="barbados-cherry">Barbados Cherry</option>
        <option value="blueberry">Blueberry</option>
        <option value="bubble-gum">Bubble Gum</option>
        <option value="buttered-popcorn">Buttered Popcorn</option>
        <option value="cantaloupe">Cantaloupe</option>
      </select>
      <button type="submit" form="beanform" value="Submit">Submit</button>
    </form>
  </div>
  <div class="content">
    <div>
      <!--{% for bean in beans %}-->
      <p>{{bean_nom}}</p>
      <!--{% endfor %}-->
    </div>
  </div>
</body>

</html>