<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jellybeans.css') }}">
</head>

<body>
  <div class="header">
    <img class="jelly-belly-logo"
      src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Jelly_Belly_Logo.svg/330px-Jelly_Belly_Logo.svg.png" />
    <h1>Jelly Belly Gallery</h1>
  </div>
  <div class="errors">
  </div>
  <div class="selectors">
    <form action="/" method="POST" id="beanform">
      <select class="bean-selector" name="bean-flavor">
        <option value="">Select a Group Name</option>
        <option value="1">7Up</option>
        <option value="2">A&W Cream Soda</option>
        <option value="3">A&W Root Beer</option>
        <option value="4">Acai Berry</option>
        <option value="5">Apple Pie A La Cold Stone</option>
        <option value="6">Barbados Cherry</option>
        <option value="7">Blueberry</option>
        <option value="8">Bubble Gum</option>
        <option value="9">Buttered Popcorn</option>
        <option value="10">Cantaloupe</option>
      </select>
      <button type="submit" form="beanform" value="Submit">Submit</button>
    </form>
  </div>
  <div class="content">
    {% for error in errors %}
      <div class="error">{{error}}</div>
    {% endfor %}

    {% if bean %}
    <img class="jelly-bean-pic" src="{{ bean['imageUrl']}}" alt="{{ bean['flavorName']}}" >
    <p>{{ bean["flavorName"] }}</p>
    <p>{{ bean["description"] }}</p>
    {% endif %}
  </div>
</body>

</html>